@font-face {
  font-family: Tinos;
  src: url(../fonts/Tinos-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Opensans;
  src: url(../fonts/OpenSans_SemiCondensed-Bold.ttf);
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
@media (max-width: 1025px) {
  .container {
    max-width: unset;
    padding: 0 10px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0 14px;
  }
}

.btn {
  background-color: #FF7400;
  font-size: 14px;
  font-family: Opensans;
  color: #fff;
  font-weight: 700;
  padding: 14px 18px;
}

.main {
  height: 100vh;
  background: url("../img/backfon.png") no-repeat center center/cover;
}
@media (max-width: 500px) {
  .main {
    background: url("../img/backfon.png") no-repeat;
  }
}
.main__block {
  max-width: 480px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 863px) {
  .main__block {
    width: 50px;
  }
}
@media (max-width: 500px) {
  .main__block {
    width: 500px;
    margin-top: 250px;
  }
}
.main__subtitle {
  color: #D67E34;
  font-family: Tinos;
  font-family: 400;
  font-size: 50px;
}
@media (max-width: 863px) {
  .main__subtitle {
    font-size: 30px;
  }
}
.main__title {
  color: #D67E34;
  font-family: Tinos;
  font-weight: 485;
  font-size: 90px;
  margin-bottom: 12px;
}
@media (max-width: 863px) {
  .main__title {
    font-size: 30px;
  }
}
.main__text {
  color: #fff;
  font-family: Opensans;
  font-family: 400;
  font-size: 18px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.main__text::before {
  content: "";
  display: block;
  width: 61px;
  height: 2px;
  background-color: #fff;
}
.main__text::after {
  content: "";
  display: block;
  width: 61px;
  height: 2px;
  background-color: #fff;
}

.header {
  padding: 50px 0;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 100px;
}
.header__logo img {
  width: 100%;
}
@media (max-width: 863px) {
  .header__logo {
    width: 75px;
  }
}
@media (max-width: 749px) {
  .header__logo {
    width: 55px;
  }
}
@media (max-width: 500px) {
  .header__logo {
    width: 45px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 749px) {
  .header__burger {
    display: block;
  }
}
.header__block {
  display: flex;
  align-items: center;
}
@media (max-width: 749px) {
  .header__block {
    display: none;
  }
}
.header__menu {
  display: flex;
  gap: 23px;
  margin-right: 36px;
}
@media (max-width: 863px) {
  .header__menu {
    margin-right: 25px;
  }
}
.header__link {
  font-family: Opensans;
  font-weight: 700;
  color: #fff;
  font-size: 14px;
}
.header__link:hover {
  color: #656363;
}
@media (max-width: 863px) {
  .header__link {
    font-size: 12px;
    font-weight: 400;
  }
}
.header__box {
  display: flex;
  align-items: center;
  margin-right: 45px;
}
@media (max-width: 863px) {
  .header__box {
    margin-right: 30px;
  }
}
.header__cart {
  border-right: 1px solid #fff;
  padding: 17px 21px 17px 0px;
  margin-right: 34px;
}
@media (max-width: 863px) {
  .header__cart {
    margin-right: 20px;
  }
}
.header__phone-link {
  font-family: Opensans;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  display: flex;
  gap: 8px;
}
.header__phone-link::before {
  content: "";
  background: url("../svg/phone-1.svg");
  display: block;
  width: 23px;
  height: 23px;
  color: #fff;
  margin-bottom: -2500px;
}
@media (max-width: 863px) {
  .header__phone-link {
    font-size: 14px;
    font-weight: 400;
  }
}
.header__phone-text {
  font-family: Opensans;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
  max-width: 155px;
}
@media (max-width: 863px) {
  .header__btn {
    text-align: center;
  }
}

.history {
  padding-top: 200px;
}
.history__card {
  width: 349px;
  height: 328px;
  box-shadow: 10px 10px 40px 1px rgba(0, 0, 0, 0.1);
  padding: 48px 25px 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 26px;
  justify-content: center;
  text-align: center;
}
.history__card-title {
  color: #2C2C2C;
  font-size: 26px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.history__card-title span {
  color: #BC9060;
}
.history__card-text {
  color: #656363;
}
.history__card-wrap {
  margin-top: 80px;
}
.history__bottommenu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.history__miniblock {
  display: flex;
  justify-items: center;
}

.myhistory__title {
  text-align: center;
  font-size: 54px;
  font-family: Tinos;
}
.myhistory__title span {
  color: #D67E34;
}